/vendor/
/web/core/
/web/modules/contrib/
/web/profiles/contrib/

/web/sites/*/services*.yml
/web/sites/*/settings*.php

/web/sites/default/files/css/
/web/sites/default/files/js/
/web/sites/default/files/php/
/web/sites/default/files/styles/
/web/sites/default/files/sync/

/.ddev/.downloads/
